@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="Shop">
	<br />
	<hr />
	<div class="row">
		<div class="col-md-3 card-body">
			<div class="card">
				<div class="card-header">
					分類
				</div>
				<div class="card-body">
					<div class="form-inline">
						<span class="w-100 mb-1">價錢區間</span>
						<input type="number" class="form-control col-md-5" data-bind="textInput: Pmin, event: { change: ()=>{ FilterPrice(); } }" />
						<label class="ml-1 mr-1">-</label>
						<input type="number" class="form-control col-md-6" data-bind="textInput: Pmax, event: { change: ()=>{ FilterPrice(); } }" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 card-body row">
			<div class="col-12">
				<div class="form-inline mb-2">
					<label>排序: </label>
					<select class="custom-select ml-1" data-bind="event: { change: () =>{ FilterSort(); } }">
						<option selected value="0">預設</option>
						<option value="1">名稱</option>
						<option value="2">價錢</option>
					</select>
				</div>
			</div>
			<!-- ko foreach: ProductList -->
			<div class="col-lg-4 col-md-6 mb-4">
				<div class="card h-100">
					<div style="overflow:hidden; height:300px;">
						<a href="#"><img class="card-img-top" src="" alt="" data-bind="attr: { src: ImgSrc }"></a>
					</div>
					<div class="card-body">
						<a href="#" class="text-decoration-none" data-bind="text: Pname"></a>
						<br />
						<label class="text-monospace" data-bind="text: '$' + Price()"></label>
						<br />
						<label class="text-muted" data-bind="text: Description"></label>
					</div>
					<div class="card-footer">
						<small class="text-muted">★ ★ ★ ★ ☆</small>
					</div>
				</div>
			</div>
			<!-- /ko -->
		</div>
	</div>
</div>

<script>
	var vm = {};
	document.addEventListener("DOMContentLoaded", function () {
		(function () {
			share.vm.LoaderStart();
			var Product = function (Obj) {
				var self = this;
				self.Pid = ko.observable(Obj.Pid);
				self.Pname = ko.observable(Obj.Pname);
				self.Price = ko.observable(Obj.Price);
				self.Description = ko.observable(Obj.Description);
				self.Binarys = ko.observable(Obj.Binarys);
				self.ImgSrc = ko.observable('data:image/gif;base64,' + self.Binarys());
			}
			var Shop = function () {
				var self = this;
				//Data Source
				self.Products = ko.observableArray([]);
				//Clone
				self.ProductList = ko.observableArray([]);
				self.Pmin = ko.observable(0);
				self.Pmax = ko.observable(10000);
				self.GetProducts = ko.computed(function () {
					$.ajax({
						type: 'Post',
						url: '../Home/SelBackMGT',
						data: '',
						contentType: 'application/json; charset=utf-8',
						dataType: 'json',
						success: function (rs) {
							var data = JSON.parse(rs);
							for (var i = 0; i < data.length; i++) {
								self.Products.push(new Product({
									Pid: data[i].Pid,
									Pname: data[i].Pname,
									Price: data[i].Price,
									Description: data[i].Description,
									Binarys: data[i].Binarys,
								}));
							}
							self.ProductList(self.Products());
							share.vm.LoaderEnd();
						},
						failure: function (errMsg) {
							console.log(-999);
						}
					});
				});
				self.FilterPrice = function () {
					var Match = ko.utils.arrayFilter(self.Products(), function (item) {
						return item.Price() >= self.Pmin() && item.Price() <= self.Pmax();
					});
					self.ProductList(Match);
				}
				self.FilterSort = function () {
					//for (var i = 0; i < self.ProductList().length; i++) {
					//	if (i + 1 >= self.ProductList().length) break;
					//	if (self.ProductList()[i].Price<self.ProductList()[i + 1].Price) {
					//		var temp = self.ProductList()[i];
					//		self.ProductList()[i](self.ProductList()[i + 1]);
					//		self.ProductList()[i + 1](temp);
					//	}
					//}
					//debugger
					var temp = self.ProductList()[0];
					var temp1 = self.ProductList()[1];

					self.ProductList()[0].Pid(temp1.Pid());
					self.ProductList()[0].Pname(temp1.Pname());
					self.ProductList()[0].Price(temp1.Price());
					self.ProductList()[0].Description(temp1.Description());
					self.ProductList()[0].Binarys(temp1.Binarys());
					self.ProductList()[0].ImgSrc(temp1.ImgSrc());

					
					self.ProductList()[0].Pid(temp.Pid());
					self.ProductList()[0].Pname(temp.Pname());
					self.ProductList()[0].Price(temp.Price());
					self.ProductList()[0].Description(temp.Description());
					self.ProductList()[0].Binarys(temp.Binarys());
					self.ProductList()[0].ImgSrc(temp.ImgSrc());

					for (var i = 0; i <  self.ProductList().length; i++) {
						console.log(self.ProductList()[i].Pid());
					}
					//var sorted = self.ProductList.sorted(function (left, right) {
					//	//console.log(left.Pid(), right.Pid());
					//	return left.Price === right.Price ? 0
					//		: left.Price < right.Price ? -1
					//			: 1;
					//});
					//self.ProductList(sorted);
				}
			}

			ko.applyBindings(vm['Shop'] = new Shop(), document.getElementById('Shop'));
		})();
	});
</script>
